main {
  padding: 20px;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}
textarea {
    resize: vertical;
}
.mapa {
    margin-bottom: 30px;
}
#mapa iframe {
    width: 100%;
    height: 500px;
    border: 0;
}
.red-social-nombre {
  font-size: 18px;
}
.botones-contacto{
background-color: #06264A;
}
.contacto-contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.informacion-y-formulario {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.informacion-contacto,
.formulario-contacto {
  flex: 1;
}

.plataformas {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.imagenes-redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.red-social {
  display: flex;
  align-items: center;
  gap: 10px;
}
.red-social img {
  width: 24px;
  height: 24px;
}
