.faq-section {
    padding: 2rem;
}

.faq-section h2 {
    margin-bottom: 1.5rem;
    font-size: 3.3rem;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 1rem;
}

.faq-question {
    width: 100%;
    text-align: left;

    border: 1px solid black;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}
.faq-question:hover {
    background: black;
}

.faq-answer {
    display: none;
    padding: 1rem;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff;
    border-radius: 0 0 5px 5px;
}

.faq-answer p {
    margin: 0;
}

/* Estilos para que las respuestas se desplieguen */
.faq-item.active .faq-answer {
    display: block;
}

