/* MAIN */
main {
    background-color: #082F5D;
    padding: 20px;
}
section {
    background-color: #0a3b74;
    color: #EBE4DA;
    padding: 20px;
    text-align: center;
}
/* BANNER */
.bienvenida {
    background-color: #EBE4DA;
    padding: 20px;
}
.productos-destacados .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}
.card-img-top {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.card-body {
    text-align: center;
}