
main {
    background-color: #082F5D;
    padding: 20px;
}
section {

    color: #EBE4DA;
    padding: 20px;
    text-align: center;
}
.bienvenida {
    background-color: #EBE4DA;
    padding: 20px;
}
.productos-destacados .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}