.conteiner-nosotros{
    text-align: left;
}
.testimonios {
    padding: 0px;
}

.testimonios {
    text-align: center;
}
.imagenes-nosotros {
    display: flex;
    justify-content: center; 
    align-items: center; 
}