.producto button {
    background-color:#06264A; 
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 2px;
    transition: 0.3s;
    padding: 12px 24px; 
    font-size: 16px; 
    button {
        border: none;
        padding: 15px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }
}


