.producto button {
    background-color:#06264A; 
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}
.producto button:hover {
    background-color:#082F5D;
}
.btn {
    padding: 10px 20px;
    background-color: #093674;
    text-decoration: none;
    border-radius: 5px;
}